.w-100{
    width: 100%;
    background-image: url('/image/home-5.jpg');
    background-repeat: no-repeat;
}
.w-1140{
    width: 1140px;
    margin: auto;
}
.flex{
    display: flex;
}
.w-33{
    width: 33.33%;
}
img{
    width: 100%;
}