@font-face {
    font-family: 'hind';
    src: url('/fonts/Hind-Regular.ttf');
}
@font-face {
    font-family: 'poppins';
    src: url('/fonts/Poppins-Regular.ttf');
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.w-100{
    width: 100%;
}
.w-1140{
    width: 1140px;
    margin: auto;
}
.flex{
    display: flex;
}
.w-15{
    width: 15%;
}
.w-85{
    width: 85%;
}
.gap-15{
    gap: 15px;
}
.soc-icons li a{
    color: #919194;
}
.py-12{
    padding: 12px 0px;
}
.border-h-r{
    border-right: 1px solid #9191943f;
}
 .border-h-b{
    border-bottom: 1px solid #9191943a;
 }
.bg-dark{
    background-color: #222328;
}
.jus-end{
    justify-content: end;
}
.item-center{
    align-items: center;
}
.py-12{
    padding: 12px 0px;
}
.con-info li a{
    font-size: 16px;
    font-family: 'hind';
    color: #919194;
}
.con-info span{
    color: #ffffff;
}
.logo li a{
    font-size: 20px;
    font-family: 'hind';
    
    color: #ffffff;
    font-family: 'hind';
}
.logo h2 span{
    color: #f75757;
}
.menu li a{
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'poppins';
    color: #ffffff;
    padding: 8px 0px;
    display: block;
    margin: 0px 12px;

}
.soc-icons li a:hover,
.menu li a:hover,
.logo li a:hover{
    color: #f75757;
    transition: 0.5s;
}
.py-24{
    padding: 24px 0px;
}
.menu li a span{
    color: #f75757;
}
.get-btn{
    font-size: 14px;
    color: #ffffff;
    border: 2px solid #f75757;
    border-radius: 50px;
    padding: 8px 16px !important;
}
.get-btn:hover{
    color: #ffffff !important;
    background-color: #f75757;
}